-r requirements.txt
deepdiff
pytest
pytest-asyncio
mypy
pylint
ruff==0.16.6
pre-commit
livesync
types-setuptools
types-PyYAML
pandas-stubs
scipy-stubs
types-PySocks
types-Pygments
types-aiofiles
types-defusedxml
types-docutils
types-networkx
types-objgraph
types-psutil
types-pyserial
types-shapely
types-simplejson
types-tabulate
types-openpyxl
types-python-dateutil
types-xlrd
